/*-------------------------------------------*/
/* GLOBAL */
/*-------------------------------------------*/

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
  background-color: #cfd8dc;
  margin: 0;

  /* svg background */
  /* background-image: linear-gradient(120deg, #2a272d 0%, #454545 100%); */
  /* smooth fonts */

}
h1,
h2 {
margin-top: 0;

}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0
}


/*-------------------------------------------*/
/* HEADER COMPONENT */
/*-------------------------------------------*/


.svg-header {
font-family: "TREBUCHET MS", Gadget, sans-serif;;
    position: relative;
    height: 300px;
    background-image: linear-gradient(#26c6da, #125688);
}
.svg-header h1 {
  color: white;
  padding: 70px 0;
  text-align: center;
  font-size: 90px;
  line-height: 1;
  letter-spacing: 4px;
  word-spacing: 4px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 12vw;
}


/*-------------------------------------------*/
/* MAIN COMPONENT */
/*-------------------------------------------*/

/*----- flip app code -----*/

.card-container {
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}

.card-container > div {
  width:300px;
  height:300px;
  margin: auto;
}

img {
  width: 300px;
  height: 300px;
  image-orientation: center;
}

.card-body {
  width: 500px;
  height: 500px;
  transform-style: preserve-3d;
  transition: all .7s linear;
}

/*----- flexbox -----*/
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}


/*----- pretty app code -----*/

.card-body > div {
  border-radius: 50%;
  overflow: hidden;


}

/* nth child styling */
.card-container:nth-child(2n) .title {
  background-image: linear-gradient(120deg, #463300 0%, #d73300 100%);
}

.card-container:nth-child(3n) .title {
  background-image: linear-gradient(120deg, #006682 0%, #00663c 100%);
}

.card-container:nth-child(4n) .title {
  background-image: linear-gradient(120deg, #640033 0%, #b90033 100%);
}

.card-container:nth-child(5n) .title {
  background-image: linear-gradient(120deg, #2d0066 0%, #8c0066 100%);
}


/*-------------------------------------------*/
/* FLIP ON HOVER */
/*-------------------------------------------*/

.card-container:hover .card-body {
  transform: rotateY(180deg);
  border-radius: 15px;
}

.card-container:hover > .card-body > .side-front {
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease-in, visibility .75s linear;
  border-radius: 200px;
}


/*-------------------------------------------*/
/* CARD SIDES - BOTH */
/*-------------------------------------------*/

.card-side {
  position: absolute;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: #212121;
  background-color: #fff;
  backface-visibility: hidden;
  box-shadow: 0 10px 35px rgba(50,50,93,.1),0 2px 15px rgba(0,0,0,.07);
}


/*-------------------------------------------*/
/* FRONT SIDE */
/*-------------------------------------------*/

/*----- flip app code -----*/

.side-front [class^=col-xs]:first-of-type {
  padding-left: 0;
}

.side-front-content {
  padding-top: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
}

/*----- pretty app code -----*/


/*-------------------------------------------*/
/* BACK SIDE */
/*-------------------------------------------*/

/*----- flip app code -----*/

.side-back {
  z-index: 2;
  text-align: center;
  transform: rotateY(180deg);
}

/*----- pretty app code (for record data) -----*/



.title {
  text-align: center;
  padding: .5rem .5rem;
  background-image: linear-gradient(120deg, #00336e 0%, #0033e6 100%);
  margin: 2rem 0 1rem 0;
  font-size: calc(.6vw + .6vh + .6vmin);
  color: white;
  overflow-wrap: break-word;
}

.album-info {
  text-align: center;
  padding: 0 1rem 1rem;
  margin: 0;
  font-size: 14px;
}

.tracks {
  text-align: center;
  padding: 0 2.5rem 2.5rem;
  margin: 0;
  font-size: 14px;
}

.track-info {
  text-align: center;
  padding: 0 2.5rem 2.5rem;
  margin: 0;
  font-size: 14px;
}

.card-container2 {
  z-index: 1;
  margin-top: 0px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
  height: 300px;
}

.card-container2 > div {
  width:300px;
  height:300px;
  margin: auto;
}

.form {
    width: 100%;
    padding: 12px 20px;
    margin: 100px 0;
    box-sizing: border-box;

}
